# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# folders
target/

# Files configuration Netbeans 11
nb-configuration.xml
nbactions.xml

# Files visual code config
.project
.settings/
indiant-beans/.classpath
indiant-beans/.factorypath
indiant-beans/.project
indiant-beans/.settings/
indiant-daos/.classpath
indiant-daos/.factorypath
indiant-daos/.project
indiant-daos/.settings/
workspace.code-indiant.code-workspace
